<!DOCTYPE html>
<html>

  <title>TripPlanner | NYC Vacation Organizer</title>

  <head>
     <!-- Viewport stuff (must be first in head)-->
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Favicon stuff -->
     <link rel="manifest" href="/manifest.json">
     <meta name="msapplication-TileColor" content="#ffffff">
     <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
     <meta name="theme-color" content="#ffffff">

     <meta name="description" content="The quintessential vacation planner for the Big Apple.">
     <meta name="author" content="Lisa Pan and Chloe Rice">
     <link rel="shortcut icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css?family=Londrina+Outline" rel="stylesheet">

      <!-- STYLESHEETS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  	<link href="/public/stylesheets/main.css" rel="stylesheet">
  </head>

  <body>
    <!-- Cover Page -->
    <div class="bsc-jumbotron clearfix">
      <div class="container-fluid text-center">
        <img id="brand-icon" src="../public/img/tripplanner_icon.svg">
        <h1 class="cover-heading">TripPlanner</h1>
        <h2 class="sub-heading">Plan your next best-trip-ever.</h2>
        <button id="start" class="btn btn-outline-secondary btn-lg"><a href="/dashboard"><span>Start</span></a></button>
      </div> <!-- .container-fluid -->
    </div> <!-- .bsc-jumbotron -->
    <!-- End Cover Page -->
  </body>

</html>
