{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
  <!-- Begin Dashboard Page-->
  <div class="container-fluid" id="dashboard">
 
     <!-- MAP MODULE -->
     <div id="map" data-view="map"></div>
     <!-- End of Map Module -->

     <!-- PLANNING MODULE -->
     <div id="control-panel">
       <!-- Selection Block -->
         <div id="dayOptions" class="panel-body">
           <!-- Select Hotel -->
           <div>
             <h5 for="select">Hotels</h5>
             <select class = "dropMenu">
               {% for hotel in templateHotels %}
                 <option>{{hotel.name}}</option>
               {% endfor %}
             </select>
             <a alt="Add Hotel" class="fa fa-plus-circle" aria-hidden="true"></a>
           </div> <!-- end hotel selection -->

           <!-- Select Activities -->
           <div>
             <h5 for="select">Activities</h5>
             <select class = "dropMenu">
               {% for activity in templateActivities %}
                 <option>{{activity.name}}</option>
               {% endfor %}
             </select>
             <a alt="Add Activity" class="fa fa-plus-circle" aria-hidden="true"></a>
           </div>  <!-- end activity selection -->

           <!--  Select Restaurants -->
           <div>
             <h5 for="select">Restaurants</h5>
             <select class = "dropMenu">
               {% for restaurant in templateRestaurants %}
                 <option>{{restaurant.name}}</option>
               {% endfor %}
             </select>
             <a alt="Add Restaurant" class="fa fa-plus-circle" aria-hidden="true"></a>
           </div> <!-- end restaurant selection -->
         </div> <!-- End  Selection Block -->
       <!-- Day Itinerary Block -->
       <div id="days">
           <h1 id="thisDay">Day 1</h1>
         <div class="dayPages">
           <ul class="pagination">
             <li class="active"><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#">+</a></li>
           </ul>
         </div>
         <div class ="row" >
           <dl id="iteneraryList">
             <dt>My Hotel</dt>
              <div>
               <dd>Andaz Wall Street</dd>
               <a alt="Remove Hotel" class="fa fa-minus-circle"></a>
             </div>

             <dt>My Restaurants</dt>
              <div>
               <dd>Chinatown Ice Cream Factory</dd>
               <a alt="Remove Restaurant" class="fa fa-minus-circle"></a>
              </div>
             <dt>My Activities</dt>
              <div>
               <dd>Jungsik</dd>
               <a alt="Remove Activity" class="fa fa-minus-circle"></a>
              </div>
           </dl> <!-- #iteneraryList -->
         </div> <!-- .row -->
       </div> <!-- end of itenerary block -->
     </div> <!-- .planner -->
 </div> <!-- End Dashboard Page -->

{% endblock %}
