{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}
  <!-- Begin Dashboard Page-->
  <div class="container-fluid" id="dashboard">

     <!-- MAP MODULE -->
     <div id="map" class="col-xs-12 col-sm-12 col-md 12 col-lg-12 clearfix"></div>
     <!-- End of Map Module -->

     <!-- PLANNING MODULE -->
     <div id="control-panel" class="planner col-xs-12 col-sm-3 col-md-3 col-lg-3 clearfix">
       <!-- Selection Block -->
         <div id="dayOptions">
           <form class="form-inline">
           <!-- Select Hotel -->
           <div class="form-group">
           <label for="select">Hotels</label>
             <select class = "dropMenu">
               {% for hotel in templateHotels %}
                 <option>{{hotel.name}}</option>
               {% endfor %}
             </select>
             <span class="fa fa-plus-circle add-btn" aria-hidden="true"></span>
           </div> <!-- end hotel selection -->

           <!-- Select Activities -->
           <div class="form-group">
             <label for="select">Activities</label>
             <select class = "dropMenu">
               {% for activity in templateActivities %}
                 <option>{{activity.name}}</option>
               {% endfor %}
             </select>
             <span class="fa fa-plus-circle add-btn" aria-hidden="true"></span>
           </div>  <!-- end activity selection -->

           <!--  Select Restaurants -->
           <div class="form-group">
             <label for="select">Restaurants</label>
             <select class = "dropMenu">
               {% for restaurant in templateRestaurants %}
                 <option>{{restaurant.name}}</option>
               {% endfor %}
             </select>
             <span class="fa fa-plus-circle add-btn" aria-hidden="true"></span>
           </div> <!-- end restaurant selection -->
          </form>
         </div> <!-- End  Selection Block -->
       <!-- Day Itinerary Block -->
       <div id="days">
           <h1 id="thisDay">Day 1</h1>
         <div class="dayPages">
           <ul class="pagination">
             <li class="active"><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#">+</a></li>
           </ul>
         </div>
         <div class ="row" >
           <dl id="iteneraryList">
             <dt>My Hotel</dt>
              <div>
               <dd>Andaz Wall Street</dd>
               <span class="fa fa-plus-circle rm-btn" aria-hidden="true"></span>
             </div>

             <dt>My Restaurants</dt>
              <div>
               <dd>Chinatown Ice Cream Factory</dd>
               <span class="fa fa-plus-circle rm-btn" aria-hidden="true"></span>
              </div>
             <dt>My Activities</dt>
              <div>
               <dd>Jungsik</dd>
               <span class="fa fa-plus-circle rm-btn" aria-hidden="true"></span>
              </div>
           </dl> <!-- #iteneraryList -->
         </div> <!-- .row -->
       </div> <!-- end of itenerary block -->
     </div> <!-- .planner -->
 </div> <!-- End Dashboard Page -->

{% endblock %}
