<!DOCTYPE html>
<html>
<title>Trip Planner - {% block title %}{% endblock %}</title>
<head>
    <!-- Stylesheets go here! -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/public/stylesheets/main.css" rel="stylesheet">


</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">TripPlanner</a>
    </div>
     <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

<!-- Script tags go here! -->
<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 40.712, lng: -74.005},
      zoom: 13
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHcGVIGZVxFzhXANMXZfKqRsDnxmJ0QoQ&callback=initMap"
async defer></script>

</body>
</html>