#start {
  position: inherit;
  background: none;
  color: white;
  border-color: white;
  margin-top: 50px; }
  #start a {
    color: white; }

.navbar-brand {
  float: left;
  padding: 0px 0px 0px 10px;
  margin-right: 15px; }

#brand-icon {
  padding: 0;
  margin: 0;
  position: relative;
  height: 10vmax;
  width: 100%; }

.bsc-jumbotron {
  background: url("../img/hands-way-guide-tourist.jpg") no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 110px 0px 0px 0px;
  overflow: hidden; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.cover-heading {
  font-family: 'Londrina Outline', cursive;
  font-size: 10vmax;
  color: white;
  text-align: center;
  margin: 0; }

.sub-heading {
  font-size: 5vmax;
  color: white;
  text-align: center;
  margin: 0; }

#dashboard {
  position: relative;
  height: 100vh;
  width: 100%;
  padding: 0; }

#map {
  background-color: #B1B1B1;
  height: 240px;
  left: 0;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2; }

#control-panel {
  padding: 0;
  box-sizing: border-box;
  display: block;
  margin-bottom: 536px;
  margin: 0;
  width: 100%;
  min-width: 300px; }

select {
  width: calc(100% - 25px); }

#dayOptions {
  display: block;
  background-color: gray;
  border-bottom: 1px solid #F8F8F8;
  color: #F8F8F8;
  margin: 0;
  padding: 16px 16px 16px;
  transition-duration: .2s;
  transition-property: transform, -webkit-transform; }

h5 {
  color: #F8F8F8; }

.dropMenu {
  width: 90%;
  height: 35px;
  padding: 15px;
  margin: 5px 0px 15px 0px;
  color: #7F8080;
  float: left; }

.dayHeader {
  padding: 5px;
  margin: 0;
  font-size: 20px; }

#days {
  display: block;
  background-color: gray;
  border-bottom: 1px solid #F8F8F8;
  color: #F8F8F8;
  margin: 0;
  padding: 0.5px 16px 16px;
  transition-duration: .2s;
  transition-property: transform, -webkit-transform; }

.dayPages {
  padding: 0px 15px 0px 15px;
  margin: 0 -16px 0 -16px;
  background: #F8F8F8; }

.pagination {
  margin: 5px 5px 0px 5px;
  color: #A3CCFF; }

.pagination > .active > a {
  background: #A3CCFF;
  border-color: #A3CCFF; }

.pagination > li > a {
  color: #A3CCFF; }

dl {
  padding: 15px; }

dt {
  padding: 5px;
  clear: both; }

dd {
  float: left;
  padding: 0px 0px 10px 15px; }

.fa-plus-circle {
  font-size: 20px;
  float: right !important;
  color: #A3CCFF;
  padding-top: 12px; }

.fa-minus-circle {
  font-size: 20px;
  float: right !important;
  color: #D9534F;
  padding-top: 2px; }

a:hover {
  text-decoration: none; }

@media (min-width: 600px) {
  #map {
    padding: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    /*    height: 100%;
    padding: 50px 0 30px;
    top: 0;
    z-index: 1;*/ }
  #control-panel {
    position: absolute;
    margin: 75px 0 0;
    top: 10px;
    left: 10px;
    z-index: 99;
    width: 30%;
    /*    margin: 100px 0;
    margin-left: 10px;
    max-width: 485px;
    position: relative;
    width: 60%;
    z-index: 2;*/ }
  #dayOptions {
    border-bottom: none;
    margin-bottom: 20px;
    border-radius: 6px; }
  #days {
    border-bottom: none;
    margin-bottom: 20px;
    border-radius: 6px; } }

@media (min-width: 728px) {
  #control-panel {
    margin-left: 25px; } }
