#brand-icon {
  padding: 0;
  margin: 0; }

.container-fluid {
  padding-left: 0px; }

.bsc-jumbotron {
  background: url("../img/hands-way-guide-tourist.jpg") no-repeat center center scroll;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 110px 0px 0px 0px;
  overflow: hidden; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

img {
  position: relative;
  height: 10vmax;
  width: 100%; }

.cover-heading {
  font-family: 'Londrina Outline', cursive;
  font-size: 10vmax;
  color: white;
  text-align: center;
  margin: 0; }

.sub-heading {
  font-size: 5vmax;
  color: white;
  text-align: center;
  margin: 0; }

.contentBody {
  height: 100vh; }

#dashboard {
  padding: 0;
  height: 100vh;
  width: 100%; }

#map {
  padding: 0;
  height: 100vmin;
  margin: 0; }

.planner {
  padding: 15px;
  height: 100vmin;
  float: right;
  background-color: #BFB5AD; }

.fa-plus-circle {
  color: #A3CCFF;
  font-size: 20px; }

#dayOptions {
  padding: 15px;
  margin: 50px 5px 20px 5px;
  background-color: #EEECEA;
  border-radius: 6px; }

.dropMenu {
  width: 95%;
  height: 35px;
  margin: 0 3px 0 0; }

.dayHeader {
  padding: 5px;
  margin: 0;
  font-size: 20px; }

#days {
  padding: 0;
  margin: 0px 5px 0px 5px;
  background-color: #EEECEA;
  border-radius: 6px;
  height: 31%; }

.dayPages {
  padding: 0px 15px 0px 15px;
  margin: 0;
  background-color: #706357; }

.pagination {
  margin: 5px 5px 0px 5px; }

dl {
  padding: 15px; }
