.navbar{

}


#map {
	height: 100%;
}

.contentBody {
	height: 100vh; 
}

.map{
	padding: 50px 0 0 0;
	height: 100vh;
	margin: 0;

}

.planner{
	padding-top: 60px;
	height: 100vh;
	background-color: #BFB5AD;
}

#app{
	padding: 5px;
	margin: 5px 5px 20px 5px;
	background-color: #EEECEA;
	border-radius: 6px;
}

.dropMenu{
	width: 95%;
	height: 35px;
	margin: 0 3px 0 0;

}

.fa-plus-circle {
	color: #A3CCFF;
}


#days {
	padding: 0 0 0 15px;
	margin: 20px 5px 5px 5px;
	background-color: #EEECEA;
	border-radius: 6px;
	height: 55vh;
}

.dayPages {
	padding: 0px 15px 0px 15px ;
	margin: 0 0 0 -15px;
	background-color: #706357;
}



h1 {
	margin-top: 10px;
	padding: 0 0 0 15px;
	font-size: 20px;
}

.pagination{
	margin: 5px 5px 0px 5px;
}

dl {
	padding: 15px;
}








